body, html {
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(image/image.jpg);
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px 10px;
    margin-top: 80px;
    z-index: 900;
    flex: 1;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

.chart {
    margin: 20px auto;
    border: double #009688;
    color: #fff;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 800;
}

th, td {
    padding: 20px;
}

.copy {
    position: relative;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 0;
    }

    .navbar ul li {
        margin: 5px 5px;
    }

    .content {
        margin-top: 60px;
        padding: 10px;
    }

    .content p {
        font-size: 18px;
    }

    .chart {
        padding: 5px;
    }

    th, td {
        padding: 10px;
    }

    .copy {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 0;
    }

    .content {
        margin-top: 60px;
        padding: 10px;
    }

    .content p {
        font-size: 16px;
    }

    .chart {
        padding: 5px;
    }

    th, td {
        padding: 5px;
    }

    .copy {
        font-size: 10px;
    }
}
